.AppBar {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 4.000rem;
  padding: 0 1.000rem;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(51, 51, 51, 0.8);
  backdrop-filter: blur(1.000rem);
  justify-content: space-between;
  z-index: 1100;

  &-brand {
    display: block;
    margin: 0;
    padding: 0;
    width: 3.000rem;
    height: 3.000rem;
    text-align: center;
  }

  &-logo {
    padding: 0.500rem;
    width: 2.000rem;
    height: 2.000rem;
  }

  &-link {
    display: inline-block;
    box-sizing: border-box;
    color: var(--color-white);
    font-size: 0.750rem;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: uppercase;
  }
}
