.Card {
  box-sizing: border-box;
  content-visibility: auto;

  &-link {
    position: relative;
    display: block;
    margin: 0;
    padding: 50% 0 0;
    background-color: var(--color-white);
    border-radius: 0.500rem;
    box-shadow: 0 0.125rem 0.250rem 0 rgba(0, 0, 0, 0.16), 0 0.250rem 0.500rem 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
  }

  &-image {
    position: absolute;
    display: block;
    inset: 0;
    transition: all 0.25s ease-out;
    transform: scale(1);

    &:hover {
      transform: scale(1.025);
    }
  }
}
