<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap" rel="stylesheet" />

    <!-- Facebook -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Genesis Mallorca Obtera" />
    <meta property="og:title" content="Genesis Mallorca Obtera" />
    <meta property="og:description" content="Product Designer and Developer" />
    <meta property="og:url" content="https://genesis.obtera.com/" />
    <meta property="og:image" content="https://genesis.obtera.com/images/genesis.jpg" />
    <meta property="og:image:secure_url" content="https://genesis.obtera.com/images/genesis.jpg" />
    
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@genesis_neo" />
    <meta name="twitter:title" content="Genesis Mallorca Obtera" />
    <meta name="twitter:description" content="Product Designer and Developer" />
    <meta name="twitter:image" content="https://genesis.obtera.com/images/genesis.jpg" />

    <!-- Android -->
    <meta name="theme-color" content="#455a64" />
    <link rel="icon" type="image/png" href="https://genesis.obtera.com/images/app/android-16.png" size="16x16" />
    <link rel="icon" type="image/png" href="https://genesis.obtera.com/images/app/android-32.png" size="32x32" />
    <link rel="icon" type="image/png" href="https://genesis.obtera.com/images/app/android-96.png" size="96x96" />
    <link rel="icon" type="image/png" href="https://genesis.obtera.com/images/app/android-160.png" size="160x160" />
    <link rel="icon" type="image/png" href="https://genesis.obtera.com/images/app/android-196.png" size="196x196" />

    <!-- Apple -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon-precomposed" href="https://genesis.obtera.com/images/app/ios-57.png" sizes="57x57" />
    <link rel="apple-touch-icon-precomposed" href="https://genesis.obtera.com/images/app/ios-72.png" sizes="72x72" />
    <link rel="apple-touch-icon-precomposed" href="https://genesis.obtera.com/images/app/ios-114.png" sizes="114x114" />
    <link rel="apple-touch-icon-precomposed" href="https://genesis.obtera.com/images/app/ios-144.png" sizes="144x144" />

    <!-- Windows -->
    <meta name="application-name" content="Genesis Mallorca Obtera" />
    <meta name="msapplication-TileColor" content="#455a64" />
    <meta name="msapplication-square70x70logo" content="https://genesis.obtera.com/images/app/windows-70x70.png" />
    <meta name="msapplication-square150x150logo" content="https://genesis.obtera.com/images/app/windows-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="https://genesis.obtera.com/images/app/windows-310x150.png" />
    <meta name="msapplication-square310x310logo" content="https://genesis.obtera.com/images/app/windows-310x310.png" />

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142241147-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-142241147-1');
    </script>

  </head>
  <body>

    <div id="root"></div>

  </body>
</html>
