<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="root"></div>
</body>

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142241147-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-142241147-1');
</script>

</html>
