.Details {
  display: block;
  width: 100%;

  &-title {
    position: relative;
    margin: 1.000rem auto 2.000rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 2;
  }

  &-description {
    display: block;
    color: var(--text-secondary);
    font-size: 0.750rem;
    letter-spacing: 0;
  }

  &-name {
    display: block;
    color: var(--color-white);
    font-size: 1.500rem;
    font-weight: 700;
    line-height: 1.25;
  }

  &-avatar {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 8.000rem;
    height: 8.000rem;
    background-color: var(--color-primary-dark);
    border-radius: 50%;
    z-index: 2;
  }

  &-information,
  &-experience {
    position: relative;
    margin: 1.000rem auto;
    padding: 2.000rem;
    max-width: 64.000rem;
    background-color: var(--color-white);
    border-radius: 0.500rem;
    box-shadow: 0 0.125rem 0.250rem 0 rgba(0, 0, 0, 0.16), 0 0.250rem 0.500rem 0 rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    content-visibility: auto;
    overflow: hidden;
    z-index: 2;
  }

  &-information {
    margin-top: 2.000rem;
  }

  &-headings {
    display: block;
    color: var(--text-secondary);
    font-size: 0.750rem;
    letter-spacing: 0;
    text-transform: uppercase;
  }

  &-body {
    display: inline-block;
    margin: 0.125rem auto 0.250rem;
    text-decoration: none;

    &:last-child {
      margin-bottom: 0;;
    }
  }

  &-experience {
    &-table {
      display: flex;
      margin: 0.125rem auto 0.25rem;
      flex-flow: column wrap;
      gap: 1.000rem;
    }

    &-row {
      display: flex;
      flex-wrap: wrap;
      gap: 1.000rem;

      &:not(:last-child) {
        border-bottom: 1px solid var(--color-divider);
      }
    }

    &-col {
      width: 100%;
      max-width: 100%;
      flex: 1 0 0%;

      &-avatar {
        display: none;
        width: 5.000rem;
        flex: 0 0 auto;

          // 768px
          @media (min-width: 48.000rem) {
            display: block;
          }
      }
    }

    &-companyAvatar {
      position: relative;
      padding-top: 100%;
      border-radius: 0.500rem;
      overflow: hidden;

      &-image {
        transition: all 0.25s ease-out;
      }
    }

    &-position,
    &-company,
    &-location,
    &-date {
      margin: 0 auto;
    }

    &-company,
    &-location,
    &-date {
      font-size: 0.875rem;
    }

    &-location,
    &-date {
      color: var(--text-secondary);
    }

    &-responsibilities {
      margin-top: 1rem auto 0;
    }
  }

  &-onlinePresence {
    margin: 1.000rem auto 0;
    padding: 2.000rem;
    content-visibility: auto;
    overflow: hidden;
    text-align: center;
    z-index: 2;

    &-link {
      position: relative;
      display: inline-block;
      margin: 0 0.500rem;
      padding: 0.500rem;
      transform: translateY(0);
      transition: transform 0.25s ease-out;

      &:hover {
        transform: translateY(-0.250rem);
      }
    }
  }
}
