.Cards {
  display: grid;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  grid-template-columns: 1fr;
  gap: 1.000rem;

  // 568px
  @media (min-width: 35.500rem) {
    grid-template-columns: repeat(2, 1fr);
  }

  // 768px
  @media (min-width: 48.000rem) {
    grid-template-columns: repeat(3, 1fr);
  }

  // 1280px
  @media (min-width: 80.000rem) {
    grid-template-columns: repeat(4, 1fr);
  }
}
