.Error {
  position: relative;
  padding: 14rem 1rem 8rem;
  background-color: var(--theme-color-primary);
  color: var(--theme-color-text-secondary);
  text-align: center;

  @media screen and (min-width: $screen-tablet) {
    padding-top: 16rem;
  }

  &__content {
    position: relative;
    margin: 0 auto;
    max-width: 100rem;
    border-radius: var(--threme-border-radius);
    overflow: hidden;

    &-title {
      margin: 0 auto 2rem;
      padding: 0;
      color: var(--theme-color-text-primary);
      font-family: var(--font-libre);
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2rem;
      text-wrap: balance;

      &::after {
        content: "";
        display: block;
        margin: 2rem auto 0;
        width: 8rem;
        height: 1px;
        background-color: var(--theme-color-accent);
      }

      @media screen and (min-width: $screen-tablet) {
        font-size: 2rem;
        line-height: 2.5rem;

        &::after {
          margin-top: 1rem;
        }
      }
    }

    &-image {
      width: 100%;
      height: auto;
      max-width: 40rem;
      cursor: default;
    }

    &-description {
      margin: 2rem auto;
      padding: 0;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      text-wrap: balance;

      @media screen and (min-width: $screen-tablet) {
        font-size: 1.125rem;
        line-height: 2rem;
      }
    }
  }
}
