.Navigation {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 1rem;
  width: auto;
  max-width: var(--screen-desktop);
  align-items: center;
  background-color: color-mix(in srgb, var(--theme-color-background), transparent 64%);
  backdrop-filter: blur(4px);
  border-bottom: 1px solid rgb(255 255 255 / 16%);
  justify-content: space-between;
  z-index: 9;

  @media screen and (min-width: $screen-tablet) {
    padding: 2rem;
  }

  &__brand {
    color: inherit;
    line-height: 1;
    font-family: var(--font-inter);
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -0.04rem;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }
  }

  &__menu {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    align-items: center;
    border-radius: 50%;
    color: var(--theme-color-text-primary);
    cursor: pointer;
    font-size: 1.25rem;
    justify-content: center;
    outline: 1px solid var(--theme-color-text-primary);
    text-align: center;
    text-decoration: none;
    transition:
      background-color 0.25s ease,
      color 0.25s ease;

    &:hover {
      background-color: var(--theme-color-text-primary);
      color: var(--theme-color-background);
      text-decoration: none;
    }
  }
}

.Drawer {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  min-width: 100dvw;
  min-height: 100dvh;
  align-items: center;
  animation: drawer 0.5s ease forwards;
  background-color: var(--theme-color-background);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 8;

  @keyframes drawer {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 5.5rem;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 8rem;
    height: 8rem;
    background-image: repeating-radial-gradient(
      var(--theme-color-accent),
      var(--theme-color-accent) 25%,
      transparent 25%,
      transparent 100%
    );
    background-size: 0.5rem 0.5rem;
    opacity: 0.5;

    @media screen and (min-width: $screen-tablet) {
      top: 7rem;
    }
  }

  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      position: relative;
      margin: 0;
      padding: 0;
      font-family: var(--font-libre);
      font-size: 2rem;
      font-weight: 700;
      text-wrap: balance;
      overflow: hidden;

      @media screen and (min-width: $screen-tablet) {
        font-size: 4.5rem;
      }

      > a {
        animation: drawer-link 0.5s ease forwards;
        color: var(--theme-color-text-primary);
        text-decoration: none;
        transform: translateY(-100%);
        transition: color 0.25s ease;

        @keyframes drawer-link {
          0% {
            transform: translateY(-100%);
          }

          100% {
            transform: translateY(0);
          }
        }

        &:hover {
          color: var(--theme-color-accent);
        }
      }

      &:nth-child(1) {
        > a {
          animation-delay: 0.55s;
        }
      }

      &:nth-child(2) {
        > a {
          animation-delay: 0.45s;
        }
      }

      &:nth-child(3) {
        > a {
          animation-delay: 0.35s;
        }
      }

      &:nth-child(4) {
        > a {
          animation-delay: 0.25s;
        }
      }
    }
  }

  &__social {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    color: var(--theme-color-text-primary);

    @media screen and (min-width: $screen-tablet) {
      bottom: 2rem;
    }

    > a {
      > img {
        margin: 0 0.5rem;
        width: 2.5rem;
        height: 2.5rem;
      }

      &:hover {
        > img {
          filter: brightness(100);
        }
      }
    }
  }
}
