.Project {
  margin: 0 auto;
  width: 100%;
  max-width: 65rem;

  &__details {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    text-align: initial;

    @media screen and (min-width: $screen-tablet) {
      gap: 5rem;
      grid-template-columns: 2fr 4fr;
    }

    &-information {
      &-subtitle,
      &-title,
      &-links {
        margin: 0 auto;
        padding: 0;
        font-weight: 600;
      }

      > *:not(:last-child) {
        margin-bottom: 1rem;
      }

      &-subtitle {
        font-size: 0.75rem;
        text-transform: uppercase;

        @media screen and (min-width: $screen-tablet) {
          font-size: 1rem;
        }
      }

      &-title {
        color: var(--theme-color-text-primary);
        font-family: var(--font-libre);
        font-size: 1.5em;
        font-weight: 700;
        line-height: 2rem;
        text-wrap: balance;

        @media screen and (min-width: $screen-tablet) {
          font-size: 2rem;
          line-height: 2.5rem;
        }
      }

      &-links {
        font-weight: 400;
        text-transform: uppercase;
        text-wrap: balance;

        a {
          &:not(:last-of-type) {
            margin-inline-end: 0.5rem;
          }
        }
      }
    }

    &-description {
      margin: 0 auto;
      padding: 0;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      text-wrap: balance;

      @media screen and (min-width: $screen-tablet) {
        font-size: 1.125rem;
        line-height: 2rem;
      }
    }
  }
}
