.Footer {
  margin: 0 auto 2.000rem;
  width: 100%;
  background-color: var(--color-primary);

  &-copyright {
    display: block;
    margin: 0 auto;
    padding: 2.000rem 0;
    max-width: 100rem;
    box-sizing: border-box;
    color: var(--text-secondary);
    font-size: 0.750rem;
    text-align: center;
  }
}
