.Footer {
  margin: 0 auto 32px;
  width: 100%;
  background-color: var(--color-primary);

  &-copyright {
    display: block;
    margin: 0 auto;
    padding: 32px 0;
    max-width: 1200px;
    box-sizing: border-box;
    color: var(--text-secondary);
    font-size: 0.75rem;
    text-align: center;
  }
}
