/* Theme */

:root {
  --color-primary: #333;
  --color-primary-light: #3B3B3B;
  --color-primary-dark: #232323;
  --color-accent: #FF5252;
  --color-divider: #CCC;
  --color-white: #FFF;
  --text-primary: #222;
  --text-secondary: #777;
}

/* Global */

::selection {
  background: var(--color-divider);
  text-shadow: none;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--color-primary);
  font: normal normal 400 100%/1.5 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: var(--text-primary);
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(51, 51, 51, 0);
  -moz-tap-highlight-color: rgba(51, 51, 51, 0);
  -ms-tap-highlight-color: rgba(51, 51, 51, 0);
  -o-tap-highlight-color: rgba(51, 51, 51, 0);
  scroll-behavior: smooth;
}

div[id*='next'] {
  background-color: var(--color-primary-light);
}

.clearfix {
  clear: both;

  &::before,
  &::after {
    content: ' ';
    display: table;
  }
}

[hidden],
.hidden {
  display: none !important;
}

a {
  color: var(--color-accent);
}

img {
  width: 100%;
  height: auto;
  border: none;
  outline: none;
  vertical-align: middle;
}

/* Swiper */

@import '~swiper/css/swiper.css';

.swiper-container {
  width: 100%;

  .swiper-button-next {
    right: 1.000rem;
  }

  .swiper-button-prev {
    left: 1.000rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 2.500rem;
    height: 2.500rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.500rem;
    backdrop-filter: blur(1.000rem);
    color: var(--color-white);
    opacity: 0;

    &::after {
      font-size: 1.250rem;
    }

      // 768px
      @media (min-width: 48.000rem) {
        opacity: 1;
      }
  }

  .swiper-pagination {
    bottom: 1.000rem;
  }

  .swiper-pagination-bullet {
    width: 0.500rem;
    height: 0.500rem;
    border-radius: 0.500rem;
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    width: 2.000rem;
    background-color: var(--color-accent);
    opacity: 1;
  }
}

/* Tags & Technology */

.Technology,
.Tag {
  &-title {
    position: relative;
    margin: 1.000rem auto 2.000rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 2;
  }
  
  &-year {
    display: block;
    color: var(--text-secondary);
    font-size: 0.750rem;
    letter-spacing: 0;
  }
  
  &-name {
    display: block;
    color: var(--color-white);
    font-size: 1.500rem;
    font-weight: 700;
    line-height: 1.25;
  }
}
