.Brief {
  display: block;
  width: 100%;

  &-title {
    position: relative;
    margin: 1.000rem auto 2.000rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 2;
  }

  &-year {
    display: block;
    color: var(--text-secondary);
    font-size: 0.750rem;
    letter-spacing: 0;
  }

  &-name {
    display: block;
    color: var(--color-white);
    font-size: 1.500rem;
    font-weight: 700;
    line-height: 1.25;
  }

  &-gallery,
  &-information {
    position: relative;
    margin: 0 auto 1.000rem;
    background-color: var(--color-white);
    border-radius: 0.500rem;
    box-shadow: 0 0.125rem 0.250rem 0 rgba(0, 0, 0, 0.16), 0 0.250rem 0.500rem 0 rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    content-visibility: auto;
    overflow: hidden;
    z-index: 2;
  }

  &-information {
    margin-bottom: 0;
    padding: 2.000rem;
    max-width: 64.000rem;
  }

  &-items {
    margin: 0 auto;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 1.000rem;
    }
  }

  &-headings {
    display: block;
    color: var(--text-secondary);
    font-size: 0.750rem;
    text-transform: uppercase;
  }

  &-body,
  &-chips {
    display: inline-block;
    text-decoration: none;
  }

  &-body {
    margin: 0.125rem auto 0.250rem;

    &:last-child {
      margin-bottom: 0;;
    }
  }

  &-chips {
    margin: 0.125rem 0.250rem 0.125rem 0;
    padding: 0.500rem 1.000rem;
    background-color: var(--color-accent);
    border-radius: 0.500rem;
    color: var(--color-white);
    font-size: 0.750rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: filter 0.25s ease-out;

    &:hover {
      filter: saturate(150%);
    }
  }

  &-otherProjects {
    margin: 1rem auto 0;
    max-width: 64.000rem;
    box-sizing: border-box;
    content-visibility: auto;

    &-title {
      display: block;
      margin: 0 auto 1.000rem;
      color: var(--text-secondary);
      font-size: 0.750rem;
      letter-spacing: 0;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
    }

    &-cards {
      display: grid;
      gap: 1.000rem;
      grid-template-columns: 1fr;

      // 768px
      @media (min-width: 48.000rem) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
