.Brief {
  display: block;
  width: 100%;

  &-particleNetwork {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 256px;
    z-index: 0;

    @media (min-width: 769px) {
      height: 512px;
    }
  }

  &-title {
    position: relative;
    margin: 16px auto 32px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 1;
  }

  &-year {
    display: block;
    color: var(--text-secondary);
    font-size: 0.750rem;
    letter-spacing: 0;
  }

  &-name {
    display: block;
    color: var(--color-white);
    font-size: 1.500rem;
    font-weight: 700;
    line-height: 24px;
  }

  &-container {
    position: relative;
    margin: 0 auto;
    background-color: var(--color-white);
    border-radius: 4px;
    box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
    overflow: hidden;
    z-index: 1;
  }

  &-information {
    margin: 0 auto;
    padding: 32px;
    width: 100%;
    box-sizing: border-box;
  }

  &-items {
    margin: 16px auto;
    padding: 0;
  }

  &-headings {
    display: block;
    color: var(--text-secondary);
    font-size: 0.750rem;
    letter-spacing: 0;
    text-transform: uppercase;
  }

  &-body,
  &-chips {
    display: inline-block;
    text-decoration: none;
  }

  &-body {
    margin: 2px auto 8px;
  }

  &-chips {
    margin: 2px 4px 2px 0;
    padding: 4px 8px;
    background-color: var(--color-accent);
    border-radius: 4px;
    color: var(--color-white);
    text-transform: capitalize;
  }
}
