.Invalid {
  display: block;
  width: 100%;

  &-title {
    margin: 1.000rem auto 2.000rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }

  &-description {
    display: block;
    color: var(--text-secondary);
    font-size: 0.750rem;
    letter-spacing: 0;
  }

  &-name {
    display: block;
    color: var(--color-white);
    font-size: 1.500rem;
    font-weight: 700;
    line-height: 1.25;
  }

  &-image {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    max-width: 36.875rem;
    max-height: 24.375rem;
  }

  &-message {
    margin: 2.000rem auto 1.000rem;
    color: var(--color-white);
    text-align: center;
  }
}
